
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;

  --primary-color: #000000; 
  --primary-color-light: #222222;
  --text-color: #ffffff;
  --accent-color: #1DCD9F;
  --accent-color-dark: #169976;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: var(--font-inter);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
  
  color: var(--text-color);
  background-image: linear-gradient(135deg, var(--primary-color-light), var(--primary-color));
  min-height: 100dvh;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { 
  margin: auto 180px;
}

.main-button {
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  line-height: 3rem;
  background-color: var(--accent-color);
  background: linear-gradient(145deg, var(--accent-color), var(--accent-color-dark));
}

.text-highlight {
  color: var(--accent-color);
  background: linear-gradient(145deg, var(--accent-color), var(--accent-color-dark));
  background-clip: text;
}